<div class="qHeader">
on {{question.timestamp}} {{question.dummy}} asked,
</div>
<div class="questionDetailsQuestion">
  "{{question.question}}"
</div>
<div class="questionDetailsText">
context:{{question.text}}
</div>
