<div class="questionDetailsQuestion">
  The Question: {{question.question}}
</div>
<div class="questionDetailsText">
{{question.text}}
</div>
<div class="questionDetailsDummy">
asked by: {{question.dummy}}
</div>
