<div class="questionDetailsQuestion">
  The Question: {{question.question}}
</div>
<div class="questionDetailsText">
Text: {{question.text}}
</div>
<div class="questionDetailsDummy">
Asked by: {{question.dummy}}
</div>
